In [3]:
import yfinance as yf

# download dataframe

In [4]:
import pandas as pd

In [31]:
with pd.ExcelWriter('stock_data1.xlsx', engine='xlsxwriter') as writer:
    # Write each dataframe to a different worksheet
    TCS.to_excel(writer, sheet_name='TCS')
    Infosys.to_excel(writer, sheet_name='Infosys')
    HCL.to_excel(writer, sheet_name='HCL')
    LTIMindtree.to_excel(writer, sheet_name='LTIMindtree')
    KPIT.to_excel(writer, sheet_name='KPIT')

print("Data saved to stock_data.xlsx with different worksheets.")

Data saved to stock_data.xlsx with different worksheets.

In [6]:
# TCS 
TCS = yf.download("TCS.NS", start="2019-01-01", end="2023-12-31")
TCS["TCS_Daily_Returns"] = TCS["Close"].pct_change()
TCS

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,TCS_Daily_Returns
Date,,,,,,,
2019-01-01,1896.000000,1910.000000,1885.000000,1902.800049,1707.211548,1094883,NaN
2019-01-02,1905.000000,1934.449951,1900.000000,1923.300049,1725.604126,2100463,0.010774
2019-01-03,1919.000000,1944.949951,1893.099976,1899.949951,1704.654541,2611668,-0.012141
2019-01-04,1900.000000,1901.199951,1841.000000,1876.849976,1683.928833,4280862,-0.012158
2019-01-07,1891.800049,1908.800049,1881.000000,1897.900024,1702.815308,1856423,0.011216
...,...,...,...,...,...,...,...
2023-12-22,3800.000000,3845.949951,3762.000000,3824.000000,3824.000000,2413058,0.009637
2023-12-26,3819.850098,3834.000000,3790.149902,3795.550049,3795.550049,1285231,-0.007440
2023-12-27,3799.000000,3818.199951,3768.000000,3811.199951,3811.199951,1293976,0.004123
2023-12-28,3824.000000,3838.000000,3792.100098,3799.899902,3799.899902,1682889,-0.002965
2023-12-29,3792.000000,3822.600098,3765.399902,3793.399902,3793.399902,1574996,-0.001711

In [7]:
# Calculate price differences
delta = TCS['Close'].diff()

# Set up gains and losses
gains = delta.clip(lower=0)
losses = -1 * delta.clip(upper=0)

# Calculate average gains and losses over a 14-day period (common setting)
avg_gain = gains.ewm(com=14, min_periods=14).mean()
avg_loss = losses.ewm(com=14, min_periods=14).mean()

# Calculate the Relative Strength Index (RSI)
rsi = 100 - (100 / (1 + (avg_gain / avg_loss)))

# Add RSI to the DataFrame
TCS['RSI'] = rsi

In [8]:
TCS.head(20)

,Open,High,Low,Close,Adj Close,Volume,TCS_Daily_Returns,RSI
Date,,,,,,,,
2019-01-01,1896.000000,1910.000000,1885.000000,1902.800049,1707.211548,1094883,NaN,NaN
2019-01-02,1905.000000,1934.449951,1900.000000,1923.300049,1725.604126,2100463,0.010774,NaN
2019-01-03,1919.000000,1944.949951,1893.099976,1899.949951,1704.654541,2611668,-0.012141,NaN
2019-01-04,1900.000000,1901.199951,1841.000000,1876.849976,1683.928833,4280862,-0.012158,NaN
2019-01-07,1891.800049,1908.800049,1881.000000,1897.900024,1702.815308,1856423,0.011216,NaN
2019-01-08,1905.400024,1906.400024,1883.300049,1893.550049,1698.912354,1691756,-0.002292,NaN
2019-01-09,1907.400024,1919.000000,1866.699951,1886.949951,1692.990723,2414376,-0.003486,NaN
2019-01-10,1890.000000,1905.000000,1872.099976,1888.550049,1694.426392,3053461,0.000848,NaN
2019-01-11,1870.000000,1875.000000,1835.000000,1842.550049,1653.154541,9209862,-0.024357,NaN
2019-01-14,1850.000000,1851.000000,1810.000000,1813.250000,1626.866089,3615370,-0.015902,NaN
2019-01-15,1810.000000,1869.349976,1808.000000,1867.800049,1675.809204,7711653,0.030084,NaN
2019-01-16,1870.000000,1875.000000,1847.000000,1870.150024,1677.917603,2359280,0.001258,NaN
2019-01-17,1878.000000,1898.000000,1871.300049,1894.300049,1703.228271,2625816,0.012913,NaN
2019-01-18,1881.000000,1904.199951,1876.000000,1900.650024,1708.937378,1683728,0.003352,NaN
2019-01-21,1902.000000,1932.000000,1895.449951,1908.699951,1716.175293,2409803,0.004235,55.639063
2019-01-22,1907.099976,1918.250000,1890.000000,1901.900024,1710.061768,2457093,-0.003563,53.433908
2019-01-23,1901.000000,1906.099976,1870.000000,1875.599976,1686.414307,2578169,-0.013828,45.896014
2019-01-24,1884.800049,1905.250000,1875.000000,1901.550049,1709.746948,1962927,0.013836,52.917624
2019-01-25,1902.000000,1935.000000,1901.000000,1920.800049,1727.055420,2327080,0.010123,57.320001
2019-01-28,1933.000000,1962.000000,1925.500000,1955.000000,1757.805664,2769033,0.017805,63.768682

In [9]:
## Computing Volatility
import numpy as np
# Compute the logarithmic returns using the Closing price
TCS['Log_Ret'] = np.log(TCS['Close'] / TCS['Close'].shift(1))

# Compute Volatility using the pandas rolling standard deviation function
TCS['Volatility'] = TCS['Log_Ret'].rolling(window=14).std() * np.sqrt(14)
TCS.head(30)

# Plot the NIFTY Price series and the Volatility
# hdfc[['Close', 'Volatility']].plot(kind = "line", subplots=True, color='blue',figsize=(8, 6))

,Open,High,Low,Close,Adj Close,Volume,TCS_Daily_Returns,RSI,Log_Ret,Volatility
Date,,,,,,,,,,
2019-01-01,1896.000000,1910.000000,1885.000000,1902.800049,1707.211548,1094883,NaN,NaN,NaN,NaN
2019-01-02,1905.000000,1934.449951,1900.000000,1923.300049,1725.604126,2100463,0.010774,NaN,0.010716,NaN
2019-01-03,1919.000000,1944.949951,1893.099976,1899.949951,1704.654541,2611668,-0.012141,NaN,-0.012215,NaN
2019-01-04,1900.000000,1901.199951,1841.000000,1876.849976,1683.928833,4280862,-0.012158,NaN,-0.012233,NaN
2019-01-07,1891.800049,1908.800049,1881.000000,1897.900024,1702.815308,1856423,0.011216,NaN,0.011153,NaN
2019-01-08,1905.400024,1906.400024,1883.300049,1893.550049,1698.912354,1691756,-0.002292,NaN,-0.002295,NaN
2019-01-09,1907.400024,1919.000000,1866.699951,1886.949951,1692.990723,2414376,-0.003486,NaN,-0.003492,NaN
2019-01-10,1890.000000,1905.000000,1872.099976,1888.550049,1694.426392,3053461,0.000848,NaN,0.000848,NaN
2019-01-11,1870.000000,1875.000000,1835.000000,1842.550049,1653.154541,9209862,-0.024357,NaN,-0.024659,NaN
2019-01-14,1850.000000,1851.000000,1810.000000,1813.250000,1626.866089,3615370,-0.015902,NaN,-0.016030,NaN
2019-01-15,1810.000000,1869.349976,1808.000000,1867.800049,1675.809204,7711653,0.030084,NaN,0.029640,NaN
2019-01-16,1870.000000,1875.000000,1847.000000,1870.150024,1677.917603,2359280,0.001258,NaN,0.001257,NaN
2019-01-17,1878.000000,1898.000000,1871.300049,1894.300049,1703.228271,2625816,0.012913,NaN,0.012831,NaN
2019-01-18,1881.000000,1904.199951,1876.000000,1900.650024,1708.937378,1683728,0.003352,NaN,0.003347,NaN
2019-01-21,1902.000000,1932.000000,1895.449951,1908.699951,1716.175293,2409803,0.004235,55.639063,0.004226,0.051829
2019-01-22,1907.099976,1918.250000,1890.000000,1901.900024,1710.061768,2457093,-0.003563,53.433908,-0.003569,0.050670
2019-01-23,1901.000000,1906.099976,1870.000000,1875.599976,1686.414307,2578169,-0.013828,45.896014,-0.013925,0.051112
2019-01-24,1884.800049,1905.250000,1875.000000,1901.550049,1709.746948,1962927,0.013836,52.917624,0.013741,0.051519
2019-01-25,1902.000000,1935.000000,1901.000000,1920.800049,1727.055420,2327080,0.010123,57.320001,0.010072,0.051299
2019-01-28,1933.000000,1962.000000,1925.500000,1955.000000,1757.805664,2769033,0.017805,63.768682,0.017648,0.053796
2019-01-29,1962.000000,1989.050049,1936.650024,1982.750000,1782.756592,2557626,0.014194,67.975294,0.014095,0.054631
2019-01-30,1979.599976,1989.500000,1954.650024,1981.400024,1781.542603,2429575,-0.000681,67.566405,-0.000681,0.054734
2019-01-31,1987.000000,2019.750000,1985.000000,2014.099976,1810.944458,4094319,0.016503,71.945995,0.016369,0.046873
2019-02-01,2009.500000,2034.750000,1998.099976,2029.949951,1825.195190,3064163,0.007870,73.784406,0.007839,0.040197
2019-02-04,2029.949951,2055.449951,2023.000000,2050.250000,1843.447754,1590764,0.010000,75.947338,0.009951,0.032992
2019-02-05,2050.000000,2055.000000,2028.000000,2044.550049,1838.323120,1111404,-0.002780,74.107901,-0.002784,0.033938
2019-02-06,2049.899902,2086.850098,2041.050049,2074.800049,1865.522217,1789812,0.014795,77.242071,0.014687,0.034367
2019-02-07,2074.750000,2097.949951,2067.000000,2082.899902,1872.804688,1339945,0.003904,78.005866,0.003896,0.034317
2019-02-08,2075.000000,2089.500000,2051.000000,2061.399902,1853.473267,1684474,-0.010322,71.209071,-0.010376,0.038257
2019-02-11,2060.000000,2096.000000,2048.899902,2065.899902,1857.519531,1778730,0.002183,71.760851,0.002181,0.037208

In [10]:
# Calculate the 14-day simple moving average of the closing prices
TCS["Moving_Average"] = TCS['Close'].rolling(window=14).mean()

TCS.head(30)

,Open,High,Low,Close,Adj Close,Volume,TCS_Daily_Returns,RSI,Log_Ret,Volatility,Moving_Average
Date,,,,,,,,,,,
2019-01-01,1896.000000,1910.000000,1885.000000,1902.800049,1707.211548,1094883,NaN,NaN,NaN,NaN,NaN
2019-01-02,1905.000000,1934.449951,1900.000000,1923.300049,1725.604126,2100463,0.010774,NaN,0.010716,NaN,NaN
2019-01-03,1919.000000,1944.949951,1893.099976,1899.949951,1704.654541,2611668,-0.012141,NaN,-0.012215,NaN,NaN
2019-01-04,1900.000000,1901.199951,1841.000000,1876.849976,1683.928833,4280862,-0.012158,NaN,-0.012233,NaN,NaN
2019-01-07,1891.800049,1908.800049,1881.000000,1897.900024,1702.815308,1856423,0.011216,NaN,0.011153,NaN,NaN
2019-01-08,1905.400024,1906.400024,1883.300049,1893.550049,1698.912354,1691756,-0.002292,NaN,-0.002295,NaN,NaN
2019-01-09,1907.400024,1919.000000,1866.699951,1886.949951,1692.990723,2414376,-0.003486,NaN,-0.003492,NaN,NaN
2019-01-10,1890.000000,1905.000000,1872.099976,1888.550049,1694.426392,3053461,0.000848,NaN,0.000848,NaN,NaN
2019-01-11,1870.000000,1875.000000,1835.000000,1842.550049,1653.154541,9209862,-0.024357,NaN,-0.024659,NaN,NaN
2019-01-14,1850.000000,1851.000000,1810.000000,1813.250000,1626.866089,3615370,-0.015902,NaN,-0.016030,NaN,NaN
2019-01-15,1810.000000,1869.349976,1808.000000,1867.800049,1675.809204,7711653,0.030084,NaN,0.029640,NaN,NaN
2019-01-16,1870.000000,1875.000000,1847.000000,1870.150024,1677.917603,2359280,0.001258,NaN,0.001257,NaN,NaN
2019-01-17,1878.000000,1898.000000,1871.300049,1894.300049,1703.228271,2625816,0.012913,NaN,0.012831,NaN,NaN
2019-01-18,1881.000000,1904.199951,1876.000000,1900.650024,1708.937378,1683728,0.003352,NaN,0.003347,NaN,1882.753592
2019-01-21,1902.000000,1932.000000,1895.449951,1908.699951,1716.175293,2409803,0.004235,55.639063,0.004226,0.051829,1883.175014
2019-01-22,1907.099976,1918.250000,1890.000000,1901.900024,1710.061768,2457093,-0.003563,53.433908,-0.003569,0.050670,1881.646441
2019-01-23,1901.000000,1906.099976,1870.000000,1875.599976,1686.414307,2578169,-0.013828,45.896014,-0.013925,0.051112,1879.907157
2019-01-24,1884.800049,1905.250000,1875.000000,1901.550049,1709.746948,1962927,0.013836,52.917624,0.013741,0.051519,1881.671448
2019-01-25,1902.000000,1935.000000,1901.000000,1920.800049,1727.055420,2327080,0.010123,57.320001,0.010072,0.051299,1883.307164
2019-01-28,1933.000000,1962.000000,1925.500000,1955.000000,1757.805664,2769033,0.017805,63.768682,0.017648,0.053796,1887.696446
2019-01-29,1962.000000,1989.050049,1936.650024,1982.750000,1782.756592,2557626,0.014194,67.975294,0.014095,0.054631,1894.539307
2019-01-30,1979.599976,1989.500000,1954.650024,1981.400024,1781.542603,2429575,-0.000681,67.566405,-0.000681,0.054734,1901.171448
2019-01-31,1987.000000,2019.750000,1985.000000,2014.099976,1810.944458,4094319,0.016503,71.945995,0.016369,0.046873,1913.425014
2019-02-01,2009.500000,2034.750000,1998.099976,2029.949951,1825.195190,3064163,0.007870,73.784406,0.007839,0.040197,1928.903582
2019-02-04,2029.949951,2055.449951,2023.000000,2050.250000,1843.447754,1590764,0.010000,75.947338,0.009951,0.032992,1941.935721
2019-02-05,2050.000000,2055.000000,2028.000000,2044.550049,1838.323120,1111404,-0.002780,74.107901,-0.002784,0.033938,1954.392866
2019-02-06,2049.899902,2086.850098,2041.050049,2074.800049,1865.522217,1789812,0.014795,77.242071,0.014687,0.034367,1967.285723
2019-02-07,2074.750000,2097.949951,2067.000000,2082.899902,1872.804688,1339945,0.003904,78.005866,0.003896,0.034317,1980.303571
2019-02-08,2075.000000,2089.500000,2051.000000,2061.399902,1853.473267,1684474,-0.010322,71.209071,-0.010376,0.038257,1991.210711
2019-02-11,2060.000000,2096.000000,2048.899902,2065.899902,1857.519531,1778730,0.002183,71.760851,0.002181,0.037208,2002.924988

In [11]:
# Infosys 
Infosys = yf.download("INFY.NS", start="2019-01-01", end="2023-12-31")
Infosys["Infosys_Daily_Returns"] = Infosys["Close"].pct_change()
Infosys

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Infosys_Daily_Returns
Date,,,,,,,
2019-01-01,660.950012,666.299988,654.150024,665.049988,580.042908,2943390,NaN
2019-01-02,666.000000,674.000000,662.049988,669.049988,583.531555,7416655,0.006015
2019-01-03,672.000000,677.000000,663.099976,669.150024,583.618774,6827249,0.000150
2019-01-04,671.750000,673.900024,651.000000,661.049988,576.554260,7889310,-0.012105
2019-01-07,665.000000,673.599976,661.500000,671.700012,585.842896,8046340,0.016111
...,...,...,...,...,...,...,...
2023-12-22,1534.949951,1566.000000,1523.000000,1562.900024,1562.900024,6741060,0.017513
2023-12-26,1535.000000,1548.000000,1523.000000,1543.949951,1543.949951,6878067,-0.012125
2023-12-27,1544.000000,1570.000000,1544.000000,1567.099976,1567.099976,4225849,0.014994
2023-12-28,1568.949951,1568.949951,1555.000000,1562.650024,1562.650024,5702253,-0.002840
2023-12-29,1541.050049,1559.449951,1540.000000,1542.900024,1542.900024,4388990,-0.012639

In [12]:
# Calculate price differences
delta = Infosys['Close'].diff()

# Set up gains and losses
gains = delta.clip(lower=0)
losses = -1 * delta.clip(upper=0)

# Calculate average gains and losses over a 14-day period (common setting)
avg_gain = gains.ewm(com=14, min_periods=14).mean()
avg_loss = losses.ewm(com=14, min_periods=14).mean()

# Calculate the Relative Strength Index (RSI)
rsi = 100 - (100 / (1 + (avg_gain / avg_loss)))

# Add RSI to the DataFrame
Infosys['RSI'] = rsi

In [13]:
Infosys.head(20)

,Open,High,Low,Close,Adj Close,Volume,Infosys_Daily_Returns,RSI
Date,,,,,,,,
2019-01-01,660.950012,666.299988,654.150024,665.049988,580.042908,2943390,NaN,NaN
2019-01-02,666.000000,674.000000,662.049988,669.049988,583.531555,7416655,0.006015,NaN
2019-01-03,672.000000,677.000000,663.099976,669.150024,583.618774,6827249,0.000150,NaN
2019-01-04,671.750000,673.900024,651.000000,661.049988,576.554260,7889310,-0.012105,NaN
2019-01-07,665.000000,673.599976,661.500000,671.700012,585.842896,8046340,0.016111,NaN
2019-01-08,674.950012,677.450012,668.549988,670.049988,584.403809,8621545,-0.002456,NaN
2019-01-09,686.200012,689.799988,664.000000,676.099976,589.680420,18130292,0.009029,NaN
2019-01-10,681.599976,682.000000,672.549988,679.700012,592.820374,9572493,0.005325,NaN
2019-01-11,680.200012,685.500000,672.500000,683.500000,596.134644,12281903,0.005591,NaN
2019-01-14,707.000000,710.200012,695.950012,701.900024,612.182678,19312937,0.026920,NaN
2019-01-15,707.200012,730.000000,707.200012,726.599976,633.725464,19671304,0.035190,NaN
2019-01-16,729.900024,737.799988,728.500000,736.799988,642.621643,9658944,0.014038,NaN
2019-01-17,735.799988,739.000000,729.099976,733.349976,639.612671,6903771,-0.004682,NaN
2019-01-18,730.000000,736.200012,726.299988,730.950012,637.519531,5902151,-0.003273,NaN
2019-01-21,738.200012,751.000000,734.000000,745.000000,649.773499,8129422,0.019222,87.481350
2019-01-22,741.250000,749.000000,734.000000,745.349976,650.078857,6723375,0.000470,87.540284
2019-01-23,742.349976,742.599976,729.200012,731.650024,638.130066,7212099,-0.018381,73.105685
2019-01-24,728.099976,736.099976,721.000000,732.000000,641.944824,7429783,0.000478,73.226517
2019-01-25,728.000000,737.900024,724.250000,730.349976,640.497864,5543112,-0.002254,71.601488
2019-01-28,731.000000,732.599976,719.000000,727.950012,638.393188,7944693,-0.003286,69.208026

In [14]:
## Computing Volatility
import numpy as np
# Compute the logarithmic returns using the Closing price
Infosys['Log_Ret'] = np.log(Infosys['Close'] / Infosys['Close'].shift(1))

# Compute Volatility using the pandas rolling standard deviation function
Infosys['Volatility'] = Infosys['Log_Ret'].rolling(window=14).std() * np.sqrt(14)
Infosys.head(30)

# Plot the NIFTY Price series and the Volatility
# hdfc[['Close', 'Volatility']].plot(kind = "line", subplots=True, color='blue',figsize=(8, 6))

,Open,High,Low,Close,Adj Close,Volume,Infosys_Daily_Returns,RSI,Log_Ret,Volatility
Date,,,,,,,,,,
2019-01-01,660.950012,666.299988,654.150024,665.049988,580.042908,2943390,NaN,NaN,NaN,NaN
2019-01-02,666.000000,674.000000,662.049988,669.049988,583.531555,7416655,0.006015,NaN,0.005997,NaN
2019-01-03,672.000000,677.000000,663.099976,669.150024,583.618774,6827249,0.000150,NaN,0.000150,NaN
2019-01-04,671.750000,673.900024,651.000000,661.049988,576.554260,7889310,-0.012105,NaN,-0.012179,NaN
2019-01-07,665.000000,673.599976,661.500000,671.700012,585.842896,8046340,0.016111,NaN,0.015982,NaN
2019-01-08,674.950012,677.450012,668.549988,670.049988,584.403809,8621545,-0.002456,NaN,-0.002460,NaN
2019-01-09,686.200012,689.799988,664.000000,676.099976,589.680420,18130292,0.009029,NaN,0.008989,NaN
2019-01-10,681.599976,682.000000,672.549988,679.700012,592.820374,9572493,0.005325,NaN,0.005311,NaN
2019-01-11,680.200012,685.500000,672.500000,683.500000,596.134644,12281903,0.005591,NaN,0.005575,NaN
2019-01-14,707.000000,710.200012,695.950012,701.900024,612.182678,19312937,0.026920,NaN,0.026564,NaN
2019-01-15,707.200012,730.000000,707.200012,726.599976,633.725464,19671304,0.035190,NaN,0.034585,NaN
2019-01-16,729.900024,737.799988,728.500000,736.799988,642.621643,9658944,0.014038,NaN,0.013940,NaN
2019-01-17,735.799988,739.000000,729.099976,733.349976,639.612671,6903771,-0.004682,NaN,-0.004693,NaN
2019-01-18,730.000000,736.200012,726.299988,730.950012,637.519531,5902151,-0.003273,NaN,-0.003278,NaN
2019-01-21,738.200012,751.000000,734.000000,745.000000,649.773499,8129422,0.019222,87.481350,0.019039,0.048194
2019-01-22,741.250000,749.000000,734.000000,745.349976,650.078857,6723375,0.000470,87.540284,0.000470,0.048768
2019-01-23,742.349976,742.599976,729.200012,731.650024,638.130066,7212099,-0.018381,73.105685,-0.018552,0.055070
2019-01-24,728.099976,736.099976,721.000000,732.000000,641.944824,7429783,0.000478,73.226517,0.000478,0.051837
2019-01-25,728.000000,737.900024,724.250000,730.349976,640.497864,5543112,-0.002254,71.601488,-0.002257,0.051749
2019-01-28,731.000000,732.599976,719.000000,727.950012,638.393188,7944693,-0.003286,69.208026,-0.003291,0.051902
2019-01-29,725.500000,732.849976,716.500000,727.900024,638.349365,6760819,-0.000069,69.156437,-0.000069,0.052115
2019-01-30,727.900024,734.799988,721.099976,725.900024,636.595398,5763026,-0.002748,67.015004,-0.002751,0.052728
2019-01-31,726.000000,751.299988,726.000000,749.549988,657.335876,13825233,0.032580,76.309254,0.032061,0.059429
2019-02-01,751.349976,762.500000,744.500000,757.049988,663.913086,6276585,0.010006,78.379220,0.009956,0.055616
2019-02-04,757.000000,762.500000,749.200012,755.900024,662.904541,3945391,-0.001519,77.270092,-0.001520,0.046123
2019-02-05,747.000000,759.950012,747.000000,754.849976,661.983704,4694366,-0.001389,76.214952,-0.001390,0.044669
2019-02-06,755.549988,766.950012,754.349976,763.299988,669.394165,5880482,0.011194,78.720336,0.011132,0.045021
2019-02-07,763.049988,769.450012,761.000000,764.000000,670.008118,3961797,0.000917,78.917444,0.000917,0.044598
2019-02-08,760.000000,772.250000,754.900024,760.900024,667.289368,5915169,-0.004058,75.595062,-0.004066,0.041624
2019-02-11,766.900024,768.750000,759.000000,762.799988,668.955627,5500216,0.002497,76.251602,0.002494,0.041619

In [15]:
# Calculate the 14-day simple moving average of the closing prices
Infosys["Moving_Average"] = Infosys['Close'].rolling(window=14).mean()

Infosys.head(30)

,Open,High,Low,Close,Adj Close,Volume,Infosys_Daily_Returns,RSI,Log_Ret,Volatility,Moving_Average
Date,,,,,,,,,,,
2019-01-01,660.950012,666.299988,654.150024,665.049988,580.042908,2943390,NaN,NaN,NaN,NaN,NaN
2019-01-02,666.000000,674.000000,662.049988,669.049988,583.531555,7416655,0.006015,NaN,0.005997,NaN,NaN
2019-01-03,672.000000,677.000000,663.099976,669.150024,583.618774,6827249,0.000150,NaN,0.000150,NaN,NaN
2019-01-04,671.750000,673.900024,651.000000,661.049988,576.554260,7889310,-0.012105,NaN,-0.012179,NaN,NaN
2019-01-07,665.000000,673.599976,661.500000,671.700012,585.842896,8046340,0.016111,NaN,0.015982,NaN,NaN
2019-01-08,674.950012,677.450012,668.549988,670.049988,584.403809,8621545,-0.002456,NaN,-0.002460,NaN,NaN
2019-01-09,686.200012,689.799988,664.000000,676.099976,589.680420,18130292,0.009029,NaN,0.008989,NaN,NaN
2019-01-10,681.599976,682.000000,672.549988,679.700012,592.820374,9572493,0.005325,NaN,0.005311,NaN,NaN
2019-01-11,680.200012,685.500000,672.500000,683.500000,596.134644,12281903,0.005591,NaN,0.005575,NaN,NaN
2019-01-14,707.000000,710.200012,695.950012,701.900024,612.182678,19312937,0.026920,NaN,0.026564,NaN,NaN
2019-01-15,707.200012,730.000000,707.200012,726.599976,633.725464,19671304,0.035190,NaN,0.034585,NaN,NaN
2019-01-16,729.900024,737.799988,728.500000,736.799988,642.621643,9658944,0.014038,NaN,0.013940,NaN,NaN
2019-01-17,735.799988,739.000000,729.099976,733.349976,639.612671,6903771,-0.004682,NaN,-0.004693,NaN,NaN
2019-01-18,730.000000,736.200012,726.299988,730.950012,637.519531,5902151,-0.003273,NaN,-0.003278,NaN,691.067854
2019-01-21,738.200012,751.000000,734.000000,745.000000,649.773499,8129422,0.019222,87.481350,0.019039,0.048194,696.778569
2019-01-22,741.250000,749.000000,734.000000,745.349976,650.078857,6723375,0.000470,87.540284,0.000470,0.048768,702.228568
2019-01-23,742.349976,742.599976,729.200012,731.650024,638.130066,7212099,-0.018381,73.105685,-0.018552,0.055070,706.692854
2019-01-24,728.099976,736.099976,721.000000,732.000000,641.944824,7429783,0.000478,73.226517,0.000478,0.051837,711.760712
2019-01-25,728.000000,737.900024,724.250000,730.349976,640.497864,5543112,-0.002254,71.601488,-0.002257,0.051749,715.949995
2019-01-28,731.000000,732.599976,719.000000,727.950012,638.393188,7944693,-0.003286,69.208026,-0.003291,0.051902,720.085711
2019-01-29,725.500000,732.849976,716.500000,727.900024,638.349365,6760819,-0.000069,69.156437,-0.000069,0.052115,723.785714
2019-01-30,727.900024,734.799988,721.099976,725.900024,636.595398,5763026,-0.002748,67.015004,-0.002751,0.052728,727.085715
2019-01-31,726.000000,751.299988,726.000000,749.549988,657.335876,13825233,0.032580,76.309254,0.032061,0.059429,731.803571
2019-02-01,751.349976,762.500000,744.500000,757.049988,663.913086,6276585,0.010006,78.379220,0.009956,0.055616,735.742855
2019-02-04,757.000000,762.500000,749.200012,755.900024,662.904541,3945391,-0.001519,77.270092,-0.001520,0.046123,737.835715
2019-02-05,747.000000,759.950012,747.000000,754.849976,661.983704,4694366,-0.001389,76.214952,-0.001390,0.044669,739.125000
2019-02-06,755.549988,766.950012,754.349976,763.299988,669.394165,5880482,0.011194,78.720336,0.011132,0.045021,741.264287
2019-02-07,763.049988,769.450012,761.000000,764.000000,670.008118,3961797,0.000917,78.917444,0.000917,0.044598,743.625000
2019-02-08,760.000000,772.250000,754.900024,760.900024,667.289368,5915169,-0.004058,75.595062,-0.004066,0.041624,744.760716
2019-02-11,766.900024,768.750000,759.000000,762.799988,668.955627,5500216,0.002497,76.251602,0.002494,0.041619,746.007145

In [16]:
# HCL Technologies
HCL =  yf.download("HCLTECH.NS", start="2019-01-01", end="2023-12-31")
HCL["HCL_Tech_Daily_Returns"] = HCL["Close"].pct_change()
HCL

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,HCL_Tech_Daily_Returns
Date,,,,,,,
2019-01-01,481.000000,482.500000,476.424988,479.924988,417.065033,717468,NaN
2019-01-02,479.500000,481.000000,469.575012,473.174988,411.199066,2270096,-0.014065
2019-01-03,475.000000,480.000000,472.500000,474.174988,412.068054,2809224,0.002113
2019-01-04,473.000000,475.274994,462.500000,466.174988,405.115845,3077278,-0.016871
2019-01-07,469.950012,475.000000,467.950012,470.774994,409.113495,2344752,0.009868
...,...,...,...,...,...,...,...
2023-12-22,1431.000000,1467.349976,1423.000000,1462.699951,1462.699951,2303438,0.028585
2023-12-26,1462.699951,1467.349976,1442.150024,1458.150024,1458.150024,1363265,-0.003111
2023-12-27,1465.449951,1476.000000,1457.550049,1472.050049,1472.050049,1402329,0.009533
2023-12-28,1470.599976,1482.699951,1468.449951,1472.449951,1472.449951,1928616,0.000272
2023-12-29,1473.949951,1481.849976,1457.550049,1466.099976,1466.099976,1481617,-0.004313

In [17]:
# Calculate price differences
delta = HCL['Close'].diff()

# Set up gains and losses
gains = delta.clip(lower=0)
losses = -1 * delta.clip(upper=0)

# Calculate average gains and losses over a 14-day period (common setting)
avg_gain = gains.ewm(com=14, min_periods=14).mean()
avg_loss = losses.ewm(com=14, min_periods=14).mean()

# Calculate the Relative Strength Index (RSI)
rsi = 100 - (100 / (1 + (avg_gain / avg_loss)))

# Add RSI to the DataFrame
HCL['RSI'] = rsi

In [18]:
HCL.head(20)

,Open,High,Low,Close,Adj Close,Volume,HCL_Tech_Daily_Returns,RSI
Date,,,,,,,,
2019-01-01,481.000000,482.500000,476.424988,479.924988,417.065033,717468,NaN,NaN
2019-01-02,479.500000,481.000000,469.575012,473.174988,411.199066,2270096,-0.014065,NaN
2019-01-03,475.000000,480.000000,472.500000,474.174988,412.068054,2809224,0.002113,NaN
2019-01-04,473.000000,475.274994,462.500000,466.174988,405.115845,3077278,-0.016871,NaN
2019-01-07,469.950012,475.000000,467.950012,470.774994,409.113495,2344752,0.009868,NaN
2019-01-08,474.000000,474.000000,466.549988,472.575012,410.677704,3031576,0.003824,NaN
2019-01-09,473.500000,474.274994,466.149994,469.200012,407.744751,2471720,-0.007142,NaN
2019-01-10,471.500000,471.500000,466.000000,467.924988,406.636658,1832096,-0.002717,NaN
2019-01-11,467.500000,470.500000,460.000000,470.024994,408.461700,4331368,0.004488,NaN
2019-01-14,470.500000,472.000000,464.000000,468.600006,407.223358,1956808,-0.003032,NaN
2019-01-15,464.500000,477.950012,464.500000,473.850006,411.785706,3693892,0.011204,NaN
2019-01-16,474.000000,477.100006,468.375000,469.125000,407.679565,1701242,-0.009972,NaN
2019-01-17,467.549988,478.500000,466.549988,477.350006,414.827301,3690234,0.017533,NaN
2019-01-18,474.299988,484.375000,473.174988,483.149994,419.867523,4685056,0.012150,NaN
2019-01-21,484.524994,490.750000,481.024994,482.875000,419.628662,3265418,-0.000569,60.145340
2019-01-22,481.000000,482.274994,468.500000,470.375000,408.765869,4791592,-0.025887,43.842286
2019-01-23,473.750000,474.975006,469.350006,472.225006,410.373505,5641586,0.003933,46.156618
2019-01-24,472.450012,476.850006,469.625000,473.225006,411.242584,2954782,0.002118,47.411766
2019-01-25,474.500000,487.850006,473.049988,484.700012,421.214600,4310008,0.024249,59.126251
2019-01-28,486.500000,490.000000,481.950012,488.899994,424.864441,3029930,0.008665,62.409963

In [19]:
## Computing Volatility
import numpy as np
# Compute the logarithmic returns using the Closing price
HCL['Log_Ret'] = np.log(HCL['Close'] / HCL['Close'].shift(1))

# Compute Volatility using the pandas rolling standard deviation function
HCL['Volatility'] = HCL['Log_Ret'].rolling(window=14).std() * np.sqrt(14)
HCL.head(30)

# Plot the NIFTY Price series and the Volatility
# hdfc[['Close', 'Volatility']].plot(kind = "line", subplots=True, color='blue',figsize=(8, 6))

,Open,High,Low,Close,Adj Close,Volume,HCL_Tech_Daily_Returns,RSI,Log_Ret,Volatility
Date,,,,,,,,,,
2019-01-01,481.000000,482.500000,476.424988,479.924988,417.065033,717468,NaN,NaN,NaN,NaN
2019-01-02,479.500000,481.000000,469.575012,473.174988,411.199066,2270096,-0.014065,NaN,-0.014165,NaN
2019-01-03,475.000000,480.000000,472.500000,474.174988,412.068054,2809224,0.002113,NaN,0.002111,NaN
2019-01-04,473.000000,475.274994,462.500000,466.174988,405.115845,3077278,-0.016871,NaN,-0.017015,NaN
2019-01-07,469.950012,475.000000,467.950012,470.774994,409.113495,2344752,0.009868,NaN,0.009819,NaN
2019-01-08,474.000000,474.000000,466.549988,472.575012,410.677704,3031576,0.003824,NaN,0.003816,NaN
2019-01-09,473.500000,474.274994,466.149994,469.200012,407.744751,2471720,-0.007142,NaN,-0.007167,NaN
2019-01-10,471.500000,471.500000,466.000000,467.924988,406.636658,1832096,-0.002717,NaN,-0.002721,NaN
2019-01-11,467.500000,470.500000,460.000000,470.024994,408.461700,4331368,0.004488,NaN,0.004478,NaN
2019-01-14,470.500000,472.000000,464.000000,468.600006,407.223358,1956808,-0.003032,NaN,-0.003036,NaN
2019-01-15,464.500000,477.950012,464.500000,473.850006,411.785706,3693892,0.011204,NaN,0.011141,NaN
2019-01-16,474.000000,477.100006,468.375000,469.125000,407.679565,1701242,-0.009972,NaN,-0.010022,NaN
2019-01-17,467.549988,478.500000,466.549988,477.350006,414.827301,3690234,0.017533,NaN,0.017381,NaN
2019-01-18,474.299988,484.375000,473.174988,483.149994,419.867523,4685056,0.012150,NaN,0.012077,NaN
2019-01-21,484.524994,490.750000,481.024994,482.875000,419.628662,3265418,-0.000569,60.145340,-0.000569,0.038324
2019-01-22,481.000000,482.274994,468.500000,470.375000,408.765869,4791592,-0.025887,43.842286,-0.026228,0.044650
2019-01-23,473.750000,474.975006,469.350006,472.225006,410.373505,5641586,0.003933,46.156618,0.003925,0.044797
2019-01-24,472.450012,476.850006,469.625000,473.225006,411.242584,2954782,0.002118,47.411766,0.002115,0.041034
2019-01-25,474.500000,487.850006,473.049988,484.700012,421.214600,4310008,0.024249,59.126251,0.023959,0.046370
2019-01-28,486.500000,490.000000,481.950012,488.899994,424.864441,3029930,0.008665,62.409963,0.008628,0.046811
2019-01-29,489.000000,497.424988,480.549988,494.225006,429.491974,4733138,0.010892,66.108637,0.010833,0.046296
2019-01-30,509.000000,517.500000,500.750000,509.200012,442.505615,14053348,0.030300,73.858767,0.029850,0.052469
2019-01-31,509.799988,511.575012,493.375000,502.600006,436.770050,9058428,-0.012962,66.660483,-0.013046,0.055847
2019-02-01,505.299988,525.000000,505.250000,521.924988,453.563812,6460222,0.038450,74.467130,0.037729,0.063984
2019-02-04,522.500000,528.900024,520.150024,522.400024,453.976746,4133944,0.000910,74.623627,0.000910,0.064208
2019-02-05,523.250000,527.500000,520.750000,523.875000,456.131653,2368564,0.002823,75.130723,0.002819,0.061788
2019-02-06,525.500000,532.474976,522.549988,527.599976,459.374847,2331000,0.007110,76.406446,0.007085,0.060936
2019-02-07,528.000000,538.900024,528.000000,531.450012,462.727142,3251088,0.007297,77.674668,0.007271,0.060706
2019-02-08,530.000000,538.000000,529.025024,534.224976,465.143311,3733802,0.005221,78.564468,0.005208,0.060223
2019-02-11,534.049988,542.000000,531.500000,539.674988,469.888519,3157886,0.010202,80.223120,0.010150,0.048266

In [20]:
# Calculate the 14-day simple moving average of the closing prices
HCL["Moving_Average"] = HCL['Close'].rolling(window=14).mean()

HCL.head(30)

,Open,High,Low,Close,Adj Close,Volume,HCL_Tech_Daily_Returns,RSI,Log_Ret,Volatility,Moving_Average
Date,,,,,,,,,,,
2019-01-01,481.000000,482.500000,476.424988,479.924988,417.065033,717468,NaN,NaN,NaN,NaN,NaN
2019-01-02,479.500000,481.000000,469.575012,473.174988,411.199066,2270096,-0.014065,NaN,-0.014165,NaN,NaN
2019-01-03,475.000000,480.000000,472.500000,474.174988,412.068054,2809224,0.002113,NaN,0.002111,NaN,NaN
2019-01-04,473.000000,475.274994,462.500000,466.174988,405.115845,3077278,-0.016871,NaN,-0.017015,NaN,NaN
2019-01-07,469.950012,475.000000,467.950012,470.774994,409.113495,2344752,0.009868,NaN,0.009819,NaN,NaN
2019-01-08,474.000000,474.000000,466.549988,472.575012,410.677704,3031576,0.003824,NaN,0.003816,NaN,NaN
2019-01-09,473.500000,474.274994,466.149994,469.200012,407.744751,2471720,-0.007142,NaN,-0.007167,NaN,NaN
2019-01-10,471.500000,471.500000,466.000000,467.924988,406.636658,1832096,-0.002717,NaN,-0.002721,NaN,NaN
2019-01-11,467.500000,470.500000,460.000000,470.024994,408.461700,4331368,0.004488,NaN,0.004478,NaN,NaN
2019-01-14,470.500000,472.000000,464.000000,468.600006,407.223358,1956808,-0.003032,NaN,-0.003036,NaN,NaN
2019-01-15,464.500000,477.950012,464.500000,473.850006,411.785706,3693892,0.011204,NaN,0.011141,NaN,NaN
2019-01-16,474.000000,477.100006,468.375000,469.125000,407.679565,1701242,-0.009972,NaN,-0.010022,NaN,NaN
2019-01-17,467.549988,478.500000,466.549988,477.350006,414.827301,3690234,0.017533,NaN,0.017381,NaN,NaN
2019-01-18,474.299988,484.375000,473.174988,483.149994,419.867523,4685056,0.012150,NaN,0.012077,NaN,472.573212
2019-01-21,484.524994,490.750000,481.024994,482.875000,419.628662,3265418,-0.000569,60.145340,-0.000569,0.038324,472.783927
2019-01-22,481.000000,482.274994,468.500000,470.375000,408.765869,4791592,-0.025887,43.842286,-0.026228,0.044650,472.583928
2019-01-23,473.750000,474.975006,469.350006,472.225006,410.373505,5641586,0.003933,46.156618,0.003925,0.044797,472.444643
2019-01-24,472.450012,476.850006,469.625000,473.225006,411.242584,2954782,0.002118,47.411766,0.002115,0.041034,472.948216
2019-01-25,474.500000,487.850006,473.049988,484.700012,421.214600,4310008,0.024249,59.126251,0.023959,0.046370,473.942860
2019-01-28,486.500000,490.000000,481.950012,488.899994,424.864441,3029930,0.008665,62.409963,0.008628,0.046811,475.108930
2019-01-29,489.000000,497.424988,480.549988,494.225006,429.491974,4733138,0.010892,66.108637,0.010833,0.046296,476.896430
2019-01-30,509.000000,517.500000,500.750000,509.200012,442.505615,14053348,0.030300,73.858767,0.029850,0.052469,479.844646
2019-01-31,509.799988,511.575012,493.375000,502.600006,436.770050,9058428,-0.012962,66.660483,-0.013046,0.055847,482.171432
2019-02-01,505.299988,525.000000,505.250000,521.924988,453.563812,6460222,0.038450,74.467130,0.037729,0.063984,485.980360
2019-02-04,522.500000,528.900024,520.150024,522.400024,453.976746,4133944,0.000910,74.623627,0.000910,0.064208,489.448218
2019-02-05,523.250000,527.500000,520.750000,523.875000,456.131653,2368564,0.002823,75.130723,0.002819,0.061788,493.358932
2019-02-06,525.500000,532.474976,522.549988,527.599976,459.374847,2331000,0.007110,76.406446,0.007085,0.060936,496.948216
2019-02-07,528.000000,538.900024,528.000000,531.450012,462.727142,3251088,0.007297,77.674668,0.007271,0.060706,500.398217
2019-02-08,530.000000,538.000000,529.025024,534.224976,465.143311,3733802,0.005221,78.564468,0.005208,0.060223,504.066073
2019-02-11,534.049988,542.000000,531.500000,539.674988,469.888519,3157886,0.010202,80.223120,0.010150,0.048266,509.016072

In [21]:
# LTIMindtree Limited
LTIMindtree = yf.download("LTIM.NS", start = "2019-01-01", end="2023-12-31")
LTIMindtree["LTIM_Daily_Returns"] = LTIMindtree["Close"].pct_change()
LTIMindtree

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,LTIM_Daily_Returns
Date,,,,,,,
2019-01-01,1731.199951,1733.800049,1705.099976,1713.449951,1606.873047,36404,NaN
2019-01-02,1722.900024,1753.900024,1705.000000,1733.550049,1625.723022,131933,0.011731
2019-01-03,1733.550049,1760.000000,1731.000000,1738.150024,1630.036987,188170,0.002654
2019-01-04,1744.000000,1754.000000,1674.949951,1693.199951,1587.882690,180512,-0.025861
2019-01-07,1708.900024,1718.949951,1699.349976,1709.699951,1603.356445,102330,0.009745
...,...,...,...,...,...,...,...
2023-12-22,6186.950195,6240.000000,6108.000000,6229.100098,6229.100098,540467,0.019318
2023-12-26,6240.000000,6288.250000,6206.100098,6259.700195,6259.700195,271488,0.004912
2023-12-27,6278.000000,6356.000000,6255.000000,6287.200195,6287.200195,357171,0.004393
2023-12-28,6301.850098,6325.000000,6233.350098,6253.149902,6253.149902,335511,-0.005416
2023-12-29,6260.350098,6306.000000,6200.250000,6294.950195,6294.950195,245328,0.006685

In [22]:
# Calculate price differences
delta = LTIMindtree['Close'].diff()

# Set up gains and losses
gains = delta.clip(lower=0)
losses = -1 * delta.clip(upper=0)

# Calculate average gains and losses over a 14-day period (common setting)
avg_gain = gains.ewm(com=14, min_periods=14).mean()
avg_loss = losses.ewm(com=14, min_periods=14).mean()

# Calculate the Relative Strength Index (RSI)
rsi = 100 - (100 / (1 + (avg_gain / avg_loss)))

# Add RSI to the DataFrame
LTIMindtree['RSI'] = rsi

In [23]:
LTIMindtree.head(20)

,Open,High,Low,Close,Adj Close,Volume,LTIM_Daily_Returns,RSI
Date,,,,,,,,
2019-01-01,1731.199951,1733.800049,1705.099976,1713.449951,1606.873047,36404,NaN,NaN
2019-01-02,1722.900024,1753.900024,1705.000000,1733.550049,1625.723022,131933,0.011731,NaN
2019-01-03,1733.550049,1760.000000,1731.000000,1738.150024,1630.036987,188170,0.002654,NaN
2019-01-04,1744.000000,1754.000000,1674.949951,1693.199951,1587.882690,180512,-0.025861,NaN
2019-01-07,1708.900024,1718.949951,1699.349976,1709.699951,1603.356445,102330,0.009745,NaN
2019-01-08,1713.000000,1716.000000,1684.000000,1688.199951,1583.193726,110580,-0.012575,NaN
2019-01-09,1696.099976,1774.000000,1690.000000,1755.650024,1646.448364,250572,0.039954,NaN
2019-01-10,1777.000000,1822.000000,1758.599976,1789.900024,1678.567993,301057,0.019508,NaN
2019-01-11,1785.000000,1798.900024,1712.849976,1731.199951,1623.519043,138640,-0.032795,NaN
2019-01-14,1731.050049,1757.000000,1711.650024,1729.199951,1621.643555,106114,-0.001155,NaN
2019-01-15,1739.800049,1745.000000,1706.150024,1731.750000,1624.034912,104396,0.001475,NaN
2019-01-16,1741.000000,1774.000000,1735.000000,1768.949951,1658.920898,88045,0.021481,NaN
2019-01-17,1779.900024,1800.000000,1768.000000,1780.800049,1670.034058,127885,0.006699,NaN
2019-01-18,1787.699951,1819.000000,1755.000000,1807.250000,1694.838745,333207,0.014853,NaN
2019-01-21,1805.000000,1805.000000,1768.000000,1779.800049,1669.096436,301619,-0.015189,59.226021
2019-01-22,1778.000000,1800.000000,1762.300049,1777.800049,1667.220703,121217,-0.001124,58.714389
2019-01-23,1792.000000,1800.000000,1739.150024,1756.949951,1647.667603,248782,-0.011728,53.547539
2019-01-24,1763.800049,1773.400024,1740.000000,1747.000000,1638.336182,65547,-0.005663,51.241944
2019-01-25,1745.000000,1762.000000,1710.000000,1713.449951,1606.873047,86229,-0.019204,44.344081
2019-01-28,1713.000000,1747.449951,1681.000000,1702.699951,1596.791748,114823,-0.006274,42.385313

In [24]:
## Computing Volatility
import numpy as np
# Compute the logarithmic returns using the Closing price
LTIMindtree['Log_Ret'] = np.log(LTIMindtree['Close'] / LTIMindtree['Close'].shift(1))

# Compute Volatility using the pandas rolling standard deviation function
LTIMindtree['Volatility'] = LTIMindtree['Log_Ret'].rolling(window=14).std() * np.sqrt(14)
LTIMindtree.head(30)

# Plot the NIFTY Price series and the Volatility
# hdfc[['Close', 'Volatility']].plot(kind = "line", subplots=True, color='blue',figsize=(8, 6))

,Open,High,Low,Close,Adj Close,Volume,LTIM_Daily_Returns,RSI,Log_Ret,Volatility
Date,,,,,,,,,,
2019-01-01,1731.199951,1733.800049,1705.099976,1713.449951,1606.873047,36404,NaN,NaN,NaN,NaN
2019-01-02,1722.900024,1753.900024,1705.000000,1733.550049,1625.723022,131933,0.011731,NaN,0.011663,NaN
2019-01-03,1733.550049,1760.000000,1731.000000,1738.150024,1630.036987,188170,0.002654,NaN,0.002650,NaN
2019-01-04,1744.000000,1754.000000,1674.949951,1693.199951,1587.882690,180512,-0.025861,NaN,-0.026201,NaN
2019-01-07,1708.900024,1718.949951,1699.349976,1709.699951,1603.356445,102330,0.009745,NaN,0.009698,NaN
2019-01-08,1713.000000,1716.000000,1684.000000,1688.199951,1583.193726,110580,-0.012575,NaN,-0.012655,NaN
2019-01-09,1696.099976,1774.000000,1690.000000,1755.650024,1646.448364,250572,0.039954,NaN,0.039176,NaN
2019-01-10,1777.000000,1822.000000,1758.599976,1789.900024,1678.567993,301057,0.019508,NaN,0.019321,NaN
2019-01-11,1785.000000,1798.900024,1712.849976,1731.199951,1623.519043,138640,-0.032795,NaN,-0.033345,NaN
2019-01-14,1731.050049,1757.000000,1711.650024,1729.199951,1621.643555,106114,-0.001155,NaN,-0.001156,NaN
2019-01-15,1739.800049,1745.000000,1706.150024,1731.750000,1624.034912,104396,0.001475,NaN,0.001474,NaN
2019-01-16,1741.000000,1774.000000,1735.000000,1768.949951,1658.920898,88045,0.021481,NaN,0.021254,NaN
2019-01-17,1779.900024,1800.000000,1768.000000,1780.800049,1670.034058,127885,0.006699,NaN,0.006677,NaN
2019-01-18,1787.699951,1819.000000,1755.000000,1807.250000,1694.838745,333207,0.014853,NaN,0.014744,NaN
2019-01-21,1805.000000,1805.000000,1768.000000,1779.800049,1669.096436,301619,-0.015189,59.226021,-0.015305,0.073027
2019-01-22,1778.000000,1800.000000,1762.300049,1777.800049,1667.220703,121217,-0.001124,58.714389,-0.001124,0.072457
2019-01-23,1792.000000,1800.000000,1739.150024,1756.949951,1647.667603,248782,-0.011728,53.547539,-0.011797,0.073704
2019-01-24,1763.800049,1773.400024,1740.000000,1747.000000,1638.336182,65547,-0.005663,51.241944,-0.005679,0.068274
2019-01-25,1745.000000,1762.000000,1710.000000,1713.449951,1606.873047,86229,-0.019204,44.344081,-0.019391,0.070992
2019-01-28,1713.000000,1747.449951,1681.000000,1702.699951,1596.791748,114823,-0.006274,42.385313,-0.006294,0.070035
2019-01-29,1720.000000,1735.000000,1700.000000,1710.800049,1604.387817,51435,0.004757,44.369159,0.004746,0.056836
2019-01-30,1710.000000,1739.800049,1691.699951,1731.849976,1624.128662,136202,0.012304,49.236071,0.012229,0.054381
2019-01-31,1730.000000,1770.000000,1719.250000,1760.849976,1651.324707,177926,0.016745,55.041807,0.016606,0.046025
2019-02-01,1770.000000,1785.000000,1752.599976,1768.750000,1658.733521,71991,0.004486,56.494067,0.004476,0.046058
2019-02-04,1757.900024,1765.699951,1741.500000,1754.699951,1645.557373,50440,-0.007943,53.218328,-0.007975,0.047047
2019-02-05,1750.000000,1870.000000,1750.000000,1814.800049,1701.919189,423680,0.034251,63.040241,0.033677,0.053957
2019-02-06,1821.900024,1856.250000,1818.050049,1849.050049,1734.038940,168603,0.018873,67.239902,0.018697,0.056404
2019-02-07,1870.000000,1896.699951,1850.500000,1871.150024,1754.764160,200619,0.011952,69.625965,0.011881,0.055814
2019-02-08,1865.750000,1872.900024,1826.650024,1840.650024,1726.161255,106659,-0.016300,62.856445,-0.016434,0.056212
2019-02-11,1844.000000,1844.000000,1781.050049,1795.099976,1683.444580,191046,-0.024747,54.394101,-0.025058,0.062565

In [25]:
# Calculate the 14-day simple moving average of the closing prices
LTIMindtree["Moving_Average"] = LTIMindtree['Close'].rolling(window=14).mean()

LTIMindtree.head(30)

,Open,High,Low,Close,Adj Close,Volume,LTIM_Daily_Returns,RSI,Log_Ret,Volatility,Moving_Average
Date,,,,,,,,,,,
2019-01-01,1731.199951,1733.800049,1705.099976,1713.449951,1606.873047,36404,NaN,NaN,NaN,NaN,NaN
2019-01-02,1722.900024,1753.900024,1705.000000,1733.550049,1625.723022,131933,0.011731,NaN,0.011663,NaN,NaN
2019-01-03,1733.550049,1760.000000,1731.000000,1738.150024,1630.036987,188170,0.002654,NaN,0.002650,NaN,NaN
2019-01-04,1744.000000,1754.000000,1674.949951,1693.199951,1587.882690,180512,-0.025861,NaN,-0.026201,NaN,NaN
2019-01-07,1708.900024,1718.949951,1699.349976,1709.699951,1603.356445,102330,0.009745,NaN,0.009698,NaN,NaN
2019-01-08,1713.000000,1716.000000,1684.000000,1688.199951,1583.193726,110580,-0.012575,NaN,-0.012655,NaN,NaN
2019-01-09,1696.099976,1774.000000,1690.000000,1755.650024,1646.448364,250572,0.039954,NaN,0.039176,NaN,NaN
2019-01-10,1777.000000,1822.000000,1758.599976,1789.900024,1678.567993,301057,0.019508,NaN,0.019321,NaN,NaN
2019-01-11,1785.000000,1798.900024,1712.849976,1731.199951,1623.519043,138640,-0.032795,NaN,-0.033345,NaN,NaN
2019-01-14,1731.050049,1757.000000,1711.650024,1729.199951,1621.643555,106114,-0.001155,NaN,-0.001156,NaN,NaN
2019-01-15,1739.800049,1745.000000,1706.150024,1731.750000,1624.034912,104396,0.001475,NaN,0.001474,NaN,NaN
2019-01-16,1741.000000,1774.000000,1735.000000,1768.949951,1658.920898,88045,0.021481,NaN,0.021254,NaN,NaN
2019-01-17,1779.900024,1800.000000,1768.000000,1780.800049,1670.034058,127885,0.006699,NaN,0.006677,NaN,NaN
2019-01-18,1787.699951,1819.000000,1755.000000,1807.250000,1694.838745,333207,0.014853,NaN,0.014744,NaN,1740.782131
2019-01-21,1805.000000,1805.000000,1768.000000,1779.800049,1669.096436,301619,-0.015189,59.226021,-0.015305,0.073027,1745.521423
2019-01-22,1778.000000,1800.000000,1762.300049,1777.800049,1667.220703,121217,-0.001124,58.714389,-0.001124,0.072457,1748.682138
2019-01-23,1792.000000,1800.000000,1739.150024,1756.949951,1647.667603,248782,-0.011728,53.547539,-0.011797,0.073704,1750.024990
2019-01-24,1763.800049,1773.400024,1740.000000,1747.000000,1638.336182,65547,-0.005663,51.241944,-0.005679,0.068274,1753.867850
2019-01-25,1745.000000,1762.000000,1710.000000,1713.449951,1606.873047,86229,-0.019204,44.344081,-0.019391,0.070992,1754.135707
2019-01-28,1713.000000,1747.449951,1681.000000,1702.699951,1596.791748,114823,-0.006274,42.385313,-0.006294,0.070035,1755.171422
2019-01-29,1720.000000,1735.000000,1700.000000,1710.800049,1604.387817,51435,0.004757,44.369159,0.004746,0.056836,1751.967852
2019-01-30,1710.000000,1739.800049,1691.699951,1731.849976,1624.128662,136202,0.012304,49.236071,0.012229,0.054381,1747.821420
2019-01-31,1730.000000,1770.000000,1719.250000,1760.849976,1651.324707,177926,0.016745,55.041807,0.016606,0.046025,1749.939279
2019-02-01,1770.000000,1785.000000,1752.599976,1768.750000,1658.733521,71991,0.004486,56.494067,0.004476,0.046058,1752.764282
2019-02-04,1757.900024,1765.699951,1741.500000,1754.699951,1645.557373,50440,-0.007943,53.218328,-0.007975,0.047047,1754.403564
2019-02-05,1750.000000,1870.000000,1750.000000,1814.800049,1701.919189,423680,0.034251,63.040241,0.033677,0.053957,1757.678571
2019-02-06,1821.900024,1856.250000,1818.050049,1849.050049,1734.038940,168603,0.018873,67.239902,0.018697,0.056404,1762.553571
2019-02-07,1870.000000,1896.699951,1850.500000,1871.150024,1754.764160,200619,0.011952,69.625965,0.011881,0.055814,1767.117859
2019-02-08,1865.750000,1872.900024,1826.650024,1840.650024,1726.161255,106659,-0.016300,62.856445,-0.016434,0.056212,1771.464286
2019-02-11,1844.000000,1844.000000,1781.050049,1795.099976,1683.444580,191046,-0.024747,54.394101,-0.025058,0.062565,1772.699995

In [26]:
# KPIT Tech
KPIT = yf.download("KPITTECH.NS", start = "2019-01-01", end = "2023-12-31")
KPIT["KPIT_Tech_Daily_Returns"] = KPIT["Close"].pct_change()
KPIT

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,KPIT_Tech_Daily_Returns
Date,,,,,,,
2019-04-22,99.000000,103.949997,94.050003,103.949997,100.196854,1066838,NaN
2019-04-23,109.099998,109.099998,105.550003,109.099998,105.160912,746528,0.049543
2019-04-24,107.000000,114.550003,107.000000,114.550003,110.414154,233998,0.049954
2019-04-25,116.000000,118.300003,110.000000,111.150002,107.136902,941577,-0.029681
2019-04-26,106.099998,111.000000,106.099998,108.650002,104.727180,1886188,-0.022492
...,...,...,...,...,...,...,...
2023-12-22,1526.349976,1545.900024,1511.400024,1539.349976,1539.349976,1501194,0.015134
2023-12-26,1547.300049,1558.000000,1511.000000,1527.699951,1527.699951,754780,-0.007568
2023-12-27,1541.000000,1541.000000,1496.150024,1517.849976,1517.849976,1347454,-0.006448
2023-12-28,1527.800049,1532.000000,1502.000000,1505.900024,1505.900024,676529,-0.007873
2023-12-29,1505.900024,1525.500000,1492.000000,1513.849976,1513.849976,786524,0.005279

In [27]:
# Calculate price differences
delta = KPIT['Close'].diff()

# Set up gains and losses
gains = delta.clip(lower=0)
losses = -1 * delta.clip(upper=0)

# Calculate average gains and losses over a 14-day period (common setting)
avg_gain = gains.ewm(com=14, min_periods=14).mean()
avg_loss = losses.ewm(com=14, min_periods=14).mean()

# Calculate the Relative Strength Index (RSI)
rsi = 100 - (100 / (1 + (avg_gain / avg_loss)))

# Add RSI to the DataFrame
KPIT['RSI'] = rsi

In [28]:
KPIT.head(20)

,Open,High,Low,Close,Adj Close,Volume,KPIT_Tech_Daily_Returns,RSI
Date,,,,,,,,
2019-04-22,99.000000,103.949997,94.050003,103.949997,100.196854,1066838,NaN,NaN
2019-04-23,109.099998,109.099998,105.550003,109.099998,105.160912,746528,0.049543,NaN
2019-04-24,107.000000,114.550003,107.000000,114.550003,110.414154,233998,0.049954,NaN
2019-04-25,116.000000,118.300003,110.000000,111.150002,107.136902,941577,-0.029681,NaN
2019-04-26,106.099998,111.000000,106.099998,108.650002,104.727180,1886188,-0.022492,NaN
2019-04-30,106.199997,108.500000,103.250000,103.250000,99.522141,273582,-0.049701,NaN
2019-05-02,103.000000,103.000000,98.099998,100.199997,96.582253,1542833,-0.029540,NaN
2019-05-03,102.500000,102.500000,96.250000,100.650002,97.016006,718227,0.004491,NaN
2019-05-06,96.800003,102.800003,96.800003,98.300003,94.750862,474708,-0.023348,NaN
2019-05-07,98.300003,99.699997,94.000000,96.949997,93.449593,468706,-0.013734,NaN
2019-05-08,94.099998,97.199997,91.099998,96.000000,92.533890,897791,-0.009799,NaN
2019-05-09,95.000000,99.849998,93.550003,97.050003,93.545998,711118,0.010938,NaN
2019-05-10,96.150002,100.550003,96.000000,99.699997,96.100304,215851,0.027305,NaN
2019-05-13,97.150002,99.400002,97.000000,97.699997,94.172531,115680,-0.020060,NaN
2019-05-14,95.150002,98.500000,91.800003,97.900002,94.365303,545794,0.002047,39.191029
2019-05-15,96.500000,99.449997,96.000000,97.849998,94.317108,191792,-0.000511,39.089970
2019-05-16,97.400002,98.699997,96.050003,97.300003,93.786972,704340,-0.005621,37.937107
2019-05-17,96.500000,105.000000,95.699997,97.650002,94.124329,424897,0.003597,39.160507
2019-05-20,98.199997,100.699997,97.199997,98.699997,95.136406,150333,0.010753,42.785653
2019-05-21,98.000000,99.949997,97.500000,98.550003,94.991829,567578,-0.001520,42.398979

In [29]:
## Computing Volatility
import numpy as np
# Compute the logarithmic returns using the Closing price
KPIT['Log_Ret'] = np.log(KPIT['Close'] / KPIT['Close'].shift(1))

# Compute Volatility using the pandas rolling standard deviation function
KPIT['Volatility'] = KPIT['Log_Ret'].rolling(window=14).std() * np.sqrt(14)
KPIT.head(30)

# Plot the NIFTY Price series and the Volatility
# hdfc[['Close', 'Volatility']].plot(kind = "line", subplots=True, color='blue',figsize=(8, 6))

,Open,High,Low,Close,Adj Close,Volume,KPIT_Tech_Daily_Returns,RSI,Log_Ret,Volatility
Date,,,,,,,,,,
2019-04-22,99.000000,103.949997,94.050003,103.949997,100.196854,1066838,NaN,NaN,NaN,NaN
2019-04-23,109.099998,109.099998,105.550003,109.099998,105.160912,746528,0.049543,NaN,0.048355,NaN
2019-04-24,107.000000,114.550003,107.000000,114.550003,110.414154,233998,0.049954,NaN,0.048747,NaN
2019-04-25,116.000000,118.300003,110.000000,111.150002,107.136902,941577,-0.029681,NaN,-0.030131,NaN
2019-04-26,106.099998,111.000000,106.099998,108.650002,104.727180,1886188,-0.022492,NaN,-0.022749,NaN
2019-04-30,106.199997,108.500000,103.250000,103.250000,99.522141,273582,-0.049701,NaN,-0.050978,NaN
2019-05-02,103.000000,103.000000,98.099998,100.199997,96.582253,1542833,-0.029540,NaN,-0.029985,NaN
2019-05-03,102.500000,102.500000,96.250000,100.650002,97.016006,718227,0.004491,NaN,0.004481,NaN
2019-05-06,96.800003,102.800003,96.800003,98.300003,94.750862,474708,-0.023348,NaN,-0.023625,NaN
2019-05-07,98.300003,99.699997,94.000000,96.949997,93.449593,468706,-0.013734,NaN,-0.013829,NaN
2019-05-08,94.099998,97.199997,91.099998,96.000000,92.533890,897791,-0.009799,NaN,-0.009847,NaN
2019-05-09,95.000000,99.849998,93.550003,97.050003,93.545998,711118,0.010938,NaN,0.010878,NaN
2019-05-10,96.150002,100.550003,96.000000,99.699997,96.100304,215851,0.027305,NaN,0.026939,NaN
2019-05-13,97.150002,99.400002,97.000000,97.699997,94.172531,115680,-0.020060,NaN,-0.020264,NaN
2019-05-14,95.150002,98.500000,91.800003,97.900002,94.365303,545794,0.002047,39.191029,0.002045,0.111316
2019-05-15,96.500000,99.449997,96.000000,97.849998,94.317108,191792,-0.000511,39.089970,-0.000511,0.096120
2019-05-16,97.400002,98.699997,96.050003,97.300003,93.786972,704340,-0.005621,37.937107,-0.005637,0.074674
2019-05-17,96.500000,105.000000,95.699997,97.650002,94.124329,424897,0.003597,39.160507,0.003591,0.073291
2019-05-20,98.199997,100.699997,97.199997,98.699997,95.136406,150333,0.010753,42.785653,0.010695,0.074281
2019-05-21,98.000000,99.949997,97.500000,98.550003,94.991829,567578,-0.001520,42.398979,-0.001521,0.057133
2019-05-22,98.050003,103.000000,97.550003,101.150002,97.497963,176780,0.026383,50.677528,0.026041,0.056447
2019-05-23,102.900002,103.300003,99.550003,99.949997,96.341286,69621,-0.011864,47.314783,-0.011935,0.057629
2019-05-24,101.000000,101.000000,92.300003,97.599998,94.076134,803107,-0.023512,41.532323,-0.023793,0.057702
2019-05-27,98.000000,100.000000,94.400002,99.349998,95.762947,99551,0.017930,46.726979,0.017771,0.058495
2019-05-28,103.000000,103.000000,93.800003,96.949997,93.449593,623443,-0.024157,41.331184,-0.024454,0.063243
2019-05-29,97.750000,97.750000,94.000000,95.949997,92.485687,265737,-0.010315,39.304963,-0.010368,0.063131
2019-05-30,95.500000,97.949997,95.099998,97.199997,93.690567,264681,0.013028,43.044500,0.012943,0.057834
2019-05-31,96.349998,99.000000,94.099998,97.050003,93.545998,339424,-0.001543,42.706215,-0.001544,0.054326
2019-06-03,95.099998,97.500000,94.050003,96.250000,92.774872,481984,-0.008243,40.870699,-0.008277,0.054788
2019-06-04,96.000000,96.000000,94.699997,95.050003,91.618210,201750,-0.012468,38.229975,-0.012546,0.055932

In [30]:
# Calculate the 14-day simple moving average of the closing prices
KPIT["Moving_Average"] = KPIT['Close'].rolling(window=14).mean()

KPIT.head(30)

,Open,High,Low,Close,Adj Close,Volume,KPIT_Tech_Daily_Returns,RSI,Log_Ret,Volatility,Moving_Average
Date,,,,,,,,,,,
2019-04-22,99.000000,103.949997,94.050003,103.949997,100.196854,1066838,NaN,NaN,NaN,NaN,NaN
2019-04-23,109.099998,109.099998,105.550003,109.099998,105.160912,746528,0.049543,NaN,0.048355,NaN,NaN
2019-04-24,107.000000,114.550003,107.000000,114.550003,110.414154,233998,0.049954,NaN,0.048747,NaN,NaN
2019-04-25,116.000000,118.300003,110.000000,111.150002,107.136902,941577,-0.029681,NaN,-0.030131,NaN,NaN
2019-04-26,106.099998,111.000000,106.099998,108.650002,104.727180,1886188,-0.022492,NaN,-0.022749,NaN,NaN
2019-04-30,106.199997,108.500000,103.250000,103.250000,99.522141,273582,-0.049701,NaN,-0.050978,NaN,NaN
2019-05-02,103.000000,103.000000,98.099998,100.199997,96.582253,1542833,-0.029540,NaN,-0.029985,NaN,NaN
2019-05-03,102.500000,102.500000,96.250000,100.650002,97.016006,718227,0.004491,NaN,0.004481,NaN,NaN
2019-05-06,96.800003,102.800003,96.800003,98.300003,94.750862,474708,-0.023348,NaN,-0.023625,NaN,NaN
2019-05-07,98.300003,99.699997,94.000000,96.949997,93.449593,468706,-0.013734,NaN,-0.013829,NaN,NaN
2019-05-08,94.099998,97.199997,91.099998,96.000000,92.533890,897791,-0.009799,NaN,-0.009847,NaN,NaN
2019-05-09,95.000000,99.849998,93.550003,97.050003,93.545998,711118,0.010938,NaN,0.010878,NaN,NaN
2019-05-10,96.150002,100.550003,96.000000,99.699997,96.100304,215851,0.027305,NaN,0.026939,NaN,NaN
2019-05-13,97.150002,99.400002,97.000000,97.699997,94.172531,115680,-0.020060,NaN,-0.020264,NaN,102.657143
2019-05-14,95.150002,98.500000,91.800003,97.900002,94.365303,545794,0.002047,39.191029,0.002045,0.111316,102.225000
2019-05-15,96.500000,99.449997,96.000000,97.849998,94.317108,191792,-0.000511,39.089970,-0.000511,0.096120,101.421429
2019-05-16,97.400002,98.699997,96.050003,97.300003,93.786972,704340,-0.005621,37.937107,-0.005637,0.074674,100.189286
2019-05-17,96.500000,105.000000,95.699997,97.650002,94.124329,424897,0.003597,39.160507,0.003591,0.073291,99.225000
2019-05-20,98.199997,100.699997,97.199997,98.699997,95.136406,150333,0.010753,42.785653,0.010695,0.074281,98.514285
2019-05-21,98.000000,99.949997,97.500000,98.550003,94.991829,567578,-0.001520,42.398979,-0.001521,0.057133,98.178571
2019-05-22,98.050003,103.000000,97.550003,101.150002,97.497963,176780,0.026383,50.677528,0.026041,0.056447,98.246429
2019-05-23,102.900002,103.300003,99.550003,99.949997,96.341286,69621,-0.011864,47.314783,-0.011935,0.057629,98.196429
2019-05-24,101.000000,101.000000,92.300003,97.599998,94.076134,803107,-0.023512,41.532323,-0.023793,0.057702,98.146428
2019-05-27,98.000000,100.000000,94.400002,99.349998,95.762947,99551,0.017930,46.726979,0.017771,0.058495,98.317857
2019-05-28,103.000000,103.000000,93.800003,96.949997,93.449593,623443,-0.024157,41.331184,-0.024454,0.063243,98.385714
2019-05-29,97.750000,97.750000,94.000000,95.949997,92.485687,265737,-0.010315,39.304963,-0.010368,0.063131,98.307142
2019-05-30,95.500000,97.949997,95.099998,97.199997,93.690567,264681,0.013028,43.044500,0.012943,0.057834,98.128571
2019-05-31,96.349998,99.000000,94.099998,97.050003,93.545998,339424,-0.001543,42.706215,-0.001544,0.054326,98.082142
2019-06-03,95.099998,97.500000,94.050003,96.250000,92.774872,481984,-0.008243,40.870699,-0.008277,0.054788,97.964285
2019-06-04,96.000000,96.000000,94.699997,95.050003,91.618210,201750,-0.012468,38.229975,-0.012546,0.055932,97.764285